* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}


header button {
    height: 50%;
    
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}

#quiz {
    width: 800px;
    max-width: 60%;
    max-height: 30%;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.quiz-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.hide {
    display: none;
}

.btn {
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 10px;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.disabled {
    pointer-events: none;
}


.form {
    width: 100%;
    margin: 10px;
    padding: 10px;
}






